<div class="container-fluid">
<div class="row no-gutter" style="margin-top:-20px">
	<div class="col-xs-12 col-md-6">
		<div  class="home_foto_cel hidden-sm hidden-md"></div>
		<div  class="home_foto_tab hidden-xs hidden-md"></div>
		<div  class="home_foto_tab_h hidden-xs hidden-sm"></div>
	</div>
	<div class="col-xs-12 col-md-6" style="color:white;font-shadow:1px 1px 3px black;text-align:center;text-shadow:1px 1px 3px black;">
		<div style="background-color: rgb(151, 0, 0);padding:10px 10px 10px 10px;box-shadow: 1px -3px 17px black;position: relative;">
		<h1>{{2015 - 1964}} años de calidad</h1>
		<em>Al servicio del arte musical</em>
		<ul class="datos">
			<li><a href="tel:+560226331342"><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i></a></li>
			<li><a href="#/ubicacion"><i class="glyphicon glyphicon-map-marker" aria-hidden="true" style="color:rgb(50, 136, 205)"></i></a></li>
			<li><a href="mailto:contacto@mesko.cl"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></a></li>
		</ul>
		<div class="row no-guter">
			<div class="hidden-xs hidden-sm col-md-12">
				<p style="text-align:center;padding:20px;">
					<a href="#/categorias" class="boton_catalogo_md"><i class="glyphicon glyphicon-search"></i> Ver Catálogo</a>
				</p>
			</div>
		</div>
		</div>

	</div>
</div>
</div>

<div class="container-fluid">
	<div class="row no-guter">
		<div class="col-xs-12 hidden-md hidden-md">
			<p style="text-align:center;padding:20px;">
				<a href="#/categorias" class="boton_catalogo"><i class="glyphicon glyphicon-search"></i> Ver Catálogo</a>
			</p>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row no-guter">
		<div class="col-xs-12 hidden-sm hidden-md" style="text-align:justify">
			<div class="container">
			<p>En 1964, Francisco Mesko García, se inicia como aprendiz con el Maestro Octavio Santibáñez, conocido y gran fabricante de guitarras de la época, quien le construía sus instrumentos a la mayoría de los músicos del momento.</p>

			<p>En la actualidad está dedicado a la venta y distribución de instrumentos musicales como; violines, violas, cellos, contrabajos, trombones, trompetas, saxos, flautas traversas, clarinetes, guitarras española, guitarras clasicas, guitarras acusticas, guitarras electroaucusticas, guitarras folk, bajos eléctricos, bajo acustico , teclados, baterias, platillos, percusión latina, audio profesional, instrumentos para escuelas, instrumentos para jardines infantiles.</p>
			<p>
			Tambien dedicado a la fabricación de los instrumentos folklóricos como: guitarras, tiples, cuatros, charangos, requintos, mandolinas, bandurrias, laúdes, rabel, panderos, tormentos, tres cubano, ukelele, Cavaquinho, bombos y guitarrón chileno.</p>
			</div>
		</div>
		<div class="hidden-xs col-md-12" style="text-align:justify;font-size:1.5em;paddin-top:20px;padding-bottom:30px">
			<div class="container">
			<p>En 1964, Francisco Mesko García, se inicia como aprendiz con el Maestro Octavio Santibáñez, conocido y gran fabricante de guitarras de la época, quien le construía sus instrumentos a la mayoría de los músicos del momento.</p>

			<p>En la actualidad está dedicado a la venta y distribución de instrumentos musicales como; violines, violas, cellos, contrabajos, trombones, trompetas, saxos, flautas traversas, clarinetes, guitarras española, guitarras clasicas, guitarras acusticas, guitarras electroaucusticas, guitarras folk, bajos eléctricos, bajo acustico , teclados, baterias, platillos, percusión latina, audio profesional, instrumentos para escuelas, instrumentos para jardines infantiles.</p>
			<p>
			Tambien dedicado a la fabricación de los instrumentos folklóricos como: guitarras, tiples, cuatros, charangos, requintos, mandolinas, bandurrias, laúdes, rabel, panderos, tormentos, tres cubano, ukelele, Cavaquinho, bombos y guitarrón chileno.</p>
			</div>
		</div>
	</div>

<div class="row no-gutter" style="padding:10px;box-shadow: 1px -3px 17px rgba(0, 0, 0, 0.24);position: relative;background-color: rgb(208, 138, 10);">
	<div class="col-xs-12 col-md-12" style="color:white;font-shadow:1px 1px 3px black;text-align:center;text-shadow:1px 1px 3px black;">
		<ul class="datos_footer">
			<li><a href="tel:+560226331342"><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i></a></li>
			<li><a href="#/ubicacion"><i class="glyphicon glyphicon-map-marker" aria-hidden="true" style="color:rgb(50, 136, 205)"></i></a></li>
			<li><a href="mailto:contacto@mesko.cl"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></a></li>
		</ul>
	</div>
</div>
</div>